
//aca se repite lo que esta en cada ventana


header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:nth($color,1);
    color:nth($color,1) ;
    .navbar-nav{
     width: 40%;
     display: flex;
     align-items: center;
     font-size: 20px;
     font-family: 'Franklin Gothic Medium';
     justify-content: space-between;
     gap: 2rem;
     
     .nav-item{
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        color:nth($color,1) ;
        
        
        a{
         color: #FFFCF2;
         text-decoration: none;}
          a:hover{
          color: #EE7444;
        }

    }
  }  
}

footer {
  background-color: #252422;
    .final{
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium';
    align-items: center;
    text-align:center;
    font-size: 10px;
    color: #FFFCF2;
    justify-content: space-evenly;
  
    .redes{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 20%;
   }
   .arriba{
    color:nth($color,2);
    text-decoration: none;
   }
   .copyright{
    font-size: 5px;
   }
  }

}




  
 

