.primeraparteIndex{
    flex-direction: row;
        .primerParrafo {
        @extend %flexrowcenter;
        font-family: nth($fuente,2);
        font-style: italic;
        font-weight: thin;
        font-size: 20px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: 50px;
        }
}

.destacadomayor{
    @extend %flexrowcenter;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 80px;
}  
.primerParrafo2 {
    text-align: center;
}

@media (max-width:768px){
    .primeraparteIndex{
        
        
        .primerParrafo {
        font-size: 12px;
        font-family: nth($fuente,2);
        text-align: left;
        }
    
        .primerParrafo2 {
        text-align: center;
        }
    }

    .destacadomayor{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }
  
}
