.primeraparteIndex{
    flex-direction: row;
}
.primerParrafo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-family: 'bitter';
    font-style: italic;
    font-weight: thin;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 50px;
    
      
}
.destacadomayor{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-content: flex-start;
        align-items: center;
        margin-bottom: 80px;
    }  


@media (max-width:768px){

    .destacadomayor{
        display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 80px;
    flex-direction: column;
        
    }
    
    .primerParrafo {
        font-size: 15px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: left;
        font-family: "Bitter";
    }
    footer{
        .final{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: 'Franklin Gothic Medium';
        padding: 30px;
        }
      }
      
    
    
    
}
