.nuestrosproductostitulo {
    display: flex;
    justify-content: center;
    font-family: nth($fuente,2);
    padding-top: 5%;
  }
.products{
    padding: 5% 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 30px;
    }
  








@media (max-width:768px){
    .products{
        padding: 0% ;
        margin-right: 15px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "areauno"
        "areados"
        "areatres"
        "areacuatro"
        "areacinco"
        "areaseis" ;
    }  
}