.sonamos{
    @extend %flexrowcenter;
    justify-content: space-evenly;
    font-weight: thin;
    font-family: nth($fuente,2);
    color: nth($color,1);
    margin-top: 5%;
    margin-bottom: 5%;

  }


@media (max-width:768px){
  .sonamos{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .impresora7{
    align-items: center;
    text-align: left;
    font-size: 14px;
    }
  
    
  }
  
} 