 
.primerParrafo{
  justify-content: space-evenly;
  flex-direction: row;
    .trabajosdestacados{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 50px;
  }
}
.lamp2{
    font-family: nth($fuente,1);
    font-size: medium;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 3fr);
    align-items: center;
    justify-items: center;
    }
    
   
.vermastrabajos{
    background-color: nth($color,2);
    text-align: center;
    align-content: center;
    font-family: nth($fuente,2);
    letter-spacing: 0.3em;
    font-weight: 300;
    border: 1px solid;
    border-radius: 40px;
    padding: 1%;
    font-size: 12px;
    width: 25%;
    margin-bottom: 8%;
    margin-top: 8%;
    margin-left: 35%;
}  
.vermastrabajos:hover {
   background-color: nth($color,3);
}


@media (max-width:768px){
  

  .primerParrafo{
    justify-content: space-evenly;
    flex-direction: row;
    
  }
  .trabajosdestacados{
    display: flex;
    padding-bottom: 20px;
    
  }

  .lamp2{
    font-family: nth($fuente,1);
    font-size: 90%;
    text-align: left;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }
  .vermastrabajos:hover {
    background-color: nth($color,3);
  }

}